{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div id="container">
        <h1 id="cntr">Euphoria</h1>
        <div id="big-box">
            <div id="headng">
                <h2>Registration</h2>
            </div>

            <div id="frm">
                {% if error %}
                    <div id="error">
                        {{ error}}
                    </div>
                {% endif %}
                <form action="/register" method="post">
                    <label>Username: </label>
                    <input autocomplete="off" autofocus type="text" placeholder="Username" name="name"><br><br>
                    <label>Password: </label>
                    <input autocomplete="off" autofocus type="password" placeholder="Password", name="password"><br><br>
                    <label>Confirm Password: </label>
                    <input autocomplete="off" autofocus type="password" placeholder="Confirm Password", name="hash"><br>
                    <button type="submit">Log in</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
